<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Hugi Barbershop System - Transactions</title>
    <link rel="stylesheet" th:href="@{/resources/assetsAdmin/css/style.css}">
    <link rel="stylesheet" th:href="@{/resources/assetsAdmin/css/fontawesome/css/all.min.css}">
    <style>
        .nk-wrap {
            padding-top: 60px;
        }
    </style>
</head>

<body class="nk-body" data-sidebar-collapse="lg" data-navbar-collapse="lg">
    <div class="nk-app-root">
        <div class="nk-main">
            <div th:replace="~{fragments/adminFragments :: sidebar}"></div>
            <div class="nk-wrap">
                <div th:replace="~{fragments/adminFragments :: header}"></div>
                <div class="nk-content">
                    <div class="container">
                        <div class="nk-block-head">
                            <h2 class="nk-block-title">Transactions List</h2>
                        </div>
                        <div class="nk-block">
                            <div class="card">
                                <table class="table">
                                    <thead class="table-light">
                                        <tr>
                                            <th>Payment ID</th>
                                            <th>Customer Name</th>
                                            <th>Amount</th>
                                            <th>Payment Method</th>
                                            <th>Payment Date</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="transaction : ${transactions}">
                                            <td th:text="${transaction.paymentId}"></td>
                                            <td th:text="${transaction.customerName}"></td>
                                            <td th:text="${'RM ' + transaction.amount}"></td>
                                            <td th:text="${transaction.paymentMethod}"></td>
                                            <td th:text="${#temporals.format(transaction.paymentDate, 'dd/MM/yyyy')}"></td>
                                            <td th:text="${transaction.paymentStatus}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/adminScripts :: adminJs}"></div>
</body>

</html>