<footer xmlns:th="http://www.thymeleaf.org" th:fragment="footer" class="hb-footer">
    <div class="hb-footer-inner">
        <span class="hb-brand-name">Hugi<em style="color:var(--brass);font-style:normal">.</em> Barbershop</span>
        <span style="max-width:340px" th:text="${barbershop.address}">LOT-A-G9, Palm Garden, Bandar Baru Klang, 41150 Klang, Selangor.</span>
        <span style="white-space:nowrap">
            <a th:href="${'tel:' + barbershop.phone}" th:text="${barbershop.phone}">012-7865132</a>
            &nbsp;&middot;&nbsp;
            Tue&ndash;Sun, 10am&ndash;10pm
        </span>
        <span>&copy; 2026 Hugi Barbershop. All Rights Reserved.</span>
    </div>
</footer>
